#side-bar {
  background-color: #BD5D38;
  width: 275px;
  height: 100vh;
}
.nav-link {
  color: #E0B3A1;
}
.nav-link:hover,
.nav-link.active {
  color: #FFFFFF;
}
img {
  display: block;
  max-width: 100%;
}
.image-profile {
  border: 8px solid #CA7D60;
  border-radius: 100%;
}